* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: auto;
}

button {
    color: black;
    font-size: 18px;
      
}

 body {
     background-image: url(https://media1.giphy.com/media/l44QzsOLXxcrigdgI/giphy.gif);
     background-attachment: fixed;
  background-position: center;
  background-size: auto;
 }


.nav {
    display: block;
    position: relative;
}

.time {
    font-size: 35px;
    background-color: aliceblue;
    padding-bottom: 0em;
    padding-top: 0;
    padding-right: 2em; 
    position: relative;
    display: block;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    display: block;
    font-size: 15px;
    padding-top: 0em;
    padding-left: 0em;
    background-color: rgb(186, 223, 255);
}

.container {
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    opacity: 0.8;

    display: block;
    
    border: 4px black;
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 0px;
    height: 100%;

    width: 100%;
    
   
}

#completion-alert {
    background-color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: auto;
    padding-right: auto;
}

h1 {
    margin-top: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: auto;
    padding-right: auto;
}

#initials-label.label-tx {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: auto;
    padding-right: auto;
}

#player-stats.center {

    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: auto;
    padding-right: auto;
}
}


h3 {
    font-size: 20px;
    color: red;
}
#prompt {
    background-color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: auto;
    padding-right: auto;
}

#initials {
    text-align: center;
    font-size: 20px;
    width: 20%;
    padding-bottom: 0px;
}

#start-quiz {
    font-size: 20px;
}

p {
    padding: 1rem;
    font-size: 25px;
  
   
}

button {
    font-size: 20px;
}

.startButton {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 10px;
    margin: 10px;
}

.scores {
    text-align: center;

}


#score-title {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: auto;
    padding-right: auto;
}



.title {
    display: none;
}

#initials-label {
    color: red;
    font-size: 30px;
        
}

#player-initials {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 35%;
} 

#start-quiz {
    font-size: 20px;
    margin-bottom: 30px;
}

h2 {
   padding-top: 50px;

}

th {
    font-size: 25px;
}

td {
    font-size: 50px;
}


div.choices {
    margin-bottom: 40px;
}

p #prompt {
    margin-top: 0px;
    margin-bottom: 0px;

}

@media screen and (min-width: 601px) {
    .container {
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container {
      font-size: 30px;
    }
  }